$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.padding-0 {
    padding: 0 !important;
    margin: 0 !important;
}

.header-left {
    padding: 25px;
    float: left;
}

.header-right {
    padding: 25px;
    float: right;
}

.footer {
    background-color: #004165;
    min-height: 250px;
}

.content {
    padding-top: 75px;
    padding-bottom: 75px;
}

.tint {
    position: relative;
    float: left;
    cursor: default;
}

.tint:before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

video {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 600px;
    z-index: -100;
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.stopfade {
    opacity: .5;
}
/*  FORM CSS */

.right_col {
    padding: 20px;
    color: #fff;
    background: #00A9E0;
    margin-bottom: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.chat_div {
    padding-left: 55px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 63px;
}

.lt-ie9 .chat_div {
    min-height: 0px;
}

.chat_div a {
    color: #FFFFFF;
}

.chat_div .fd-chat-icon {
    font-size: 2.2em;
    position: absolute;
    left: 10px;
    top: 18px;
}

.lt-ie9 .chat_div .fd-chat-icon {
    font-size: 2.2em;
    position: absolute;
    left: 25px;
    top: 18px;
}

.contact_phone {
    padding-left: 55px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.contact_phone .fd-mobile-icon {
    font-size: 2.2em;
    position: absolute;
    left: 10px;
    margin-top: -5px;
}

.lt-ie9 .contact_phone .fd-mobile-icon {
    font-size: 2.2em;
    position: absolute;
    left: 25px;
    margin-top: -5px;
}

form {
    margin: 0 0 20px;
}

form input {
    margin-bottom: 15px;
}

.captcha_image img {
    max-height: 76px;
}

.required-message {
    text-align: right;
    font-style: italic;
    font-size: 11px;
}

.right-col label {
    color: #fff;
}

.right-col input {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3), 1px 2px 6px rgba(0, 0, 0, 0.3) inset;
    border-color: rgb(153, 153, 153);
    background: url(../images/bg-input-focus.png) repeat-x scroll 0px 0px rgb(255, 255, 255);
    outline: medium none;
    border: medium none;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3) inset;
    font-size: 15px;
    color: #000;
    line-height: 30px;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    width: 93%;
    margin-bottom: 15px;
}

.right-col select {
    border-radius: 0;
    line-height: 30px;
    height: 30px;
    background-color: #fff;
    color: #555555;
    -webkit-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .30);
    -ms-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .30);
    -moz-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .30);
    box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .30);
    width: 100%;
}
/* END FORM CSS */
/* CONNECT BUTTON */

.connect-button {
    border-radius: 5px;
    display: inline-block;
    font-family: "SimpleSansMedium", Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 13px 28px 11px;
    position: relative;
    text-decoration: none;
    transition: all 200ms ease 0s;
}

.connect-button .fd-arrow-right-icon {
    height: 95%;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 11px;
    filter: alpha(opacity=0);
    zoom: 1;
    transition: all 300ms ease-out 100ms;
    -moz-transition: all 300ms ease-out;
    /* FF3.7+ */

    -o-transition: all 300ms ease-out;
    /* Opera 10.5 */

    -webkit-transition: all 300ms ease-out;
    /* Saf3.2+, Chrome */

    transition: all 300ms ease-out;
    transition-delay: 100ms;
    -webkit-transition-delay: 100ms;
    /* Safari */

    width: 35px;
    font-weight: bold;
}

.connect-button:hover {
    padding: 13px 35px 11px 21px;
    text-decoration: none;
}

.connect-button:hover .fd-arrow-right-icon {
    opacity: 1;
    right: -5px;
}

form .connect-button:hover .fd-arrow-right-icon {
    opacity: 1;
    right: 0px;
}

.connect-button.brand-color-on-white .fd-arrow-right-icon {
    font-size: 15px;
}

.connect-button.white-on-brand-color .fd-arrow-right-icon {
    background-position: center;
}

.connect-button.brand-color-on-white {
    background: none repeat scroll 0 0 #004165;
    border: 2px solid #004165;
    color: #ffffff;
}

.lt-ie9 .connect-button.brand-color-on-white .fd-arrow-right-icon {
    background-color: #ffffff;
}

.connect-button.brand-color-on-white:hover {
    background-color: #ffffff;
    color: #004165;
}

.connect-button.white-on-brand-color {
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #004165;
    color: #004165;
}

.lt-ie9 .connect-button.white-on-brand-color .fd-arrow-right-icon {
    background-color: #004165;
}

.connect-button.white-on-brand-color:hover {
    background-color: #004165;
    color: #ffffff;
}
/* END CONNECT BUTTON */

.footer-bottom {
    margin: 30px auto;
    max-width: 976px;
    color: #fff;
    font-size: 15px;
    padding: 15px;
}

.footer-logo {
    background: url("../images/beyond-tag-white.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 49px;
    margin-bottom: 20px;
    width: 139px;
}

.lt-ie9 .footer-logo {
    background: url("../images/beyond-tag-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 49px;
    margin-bottom: 20px;
    width: 139px;
}

.footernotes {
    margin-top: 10px;
}

.scroll_icon {
    padding-top: 20px;
    cursor: pointer;
}

.scroll_icon span {
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none !important
}

.back_to_top {
    position: fixed;
    bottom: 0.75em;
    right: 0.5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 169, 224, 0.45);
    padding: 10px;
    display: none;
    margin: 0;
}

.back_to_top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
}

.back_to_top:visited {
    color: white;
    text-decoration: none;
}

.back_to_top span {}
/* Extra Small Devices, .visible-xs-* */

@media (max-width: 480px) {
    .carousel-caption h1 {
        font-size: 20px;
        margin-top: 10px;
    }
    .carousel-caption h3 {
        font-size: 12px;
        margin-top: 10px;
    }
    .scroll_icon {
        padding-top: 10px;
    }
    .scroll_icon span {
        font-size: 18px;
    }
    .content {
        padding-top: 25px;
    }
}
/* Extra Small Devices, .visible-xs-* */

@media (min-width: 481px) and (max-width: 767px) {
    .carousel-caption h1 {
        font-size: 25px;
    }
    .carousel-caption h3 {
        font-size: 14px;
    }
    .scroll_icon {
        padding-top: 10px;
    }
    .scroll_icon span {
        font-size: 26px;
    }
    .content {
        padding-top: 25px;
    }
}
/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-caption h1 {
        font-size: 40px;
    }
    .carousel-caption h3 {
        font-size: 20px;
    }
    .scroll_icon {
        padding-top: 10px;
    }
    .scroll_icon span {
        font-size: 26px;
    }
    .content {
        padding-top: 35px;
    }
}
/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-caption h1 {
        font-size: 50px;
    }
    .carousel-caption h3 {
        font-size: 24px;
    }
    .scroll_icon {
        padding-top: 10px;
    }
    .scroll_icon span {
        font-size: 28px;
    }
    .content {
        padding-top: 35px;
    }
}
/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {
    .carousel-caption h1 {
        font-size: 70px;
    }
    .carousel-caption h3 {
        font-size: 32px;
    }
}
.footer-menu {
    border-bottom: 2px solid #003857;
    clear: both;
    padding-bottom: 0;
}

.footer-menu-inner {
    margin: 0 auto;
    max-width: 976px;
}

.footer-left {
    float: left;
    margin-left: -45px;
}
.footer-left li {
    height: auto;
    margin-top: 0;
}
.footer-left li a {
    text-decoration: none;
}
.footer-left li a {
    color: #fff;
    display: block;
    font: 15px/15px "SimpleSansMedium",Arial,sans-serif;
    height: 15px;
    padding: 23px 15px 18px;
}

.nolist li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
