@font-face{font-family:'SimpleSans';src:url('simplesans-regular-webfont.eot');src:url('simplesans-regular-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-regular-webfont.woff') format('woff'),url('simplesans-regular-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'SimpleSansOblique';src:url('simplesans-regularoblique-webfont.eot');src:url('simplesans-regularoblique-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-regularoblique-webfont.woff') format('woff'),url('simplesans-regularoblique-webfont.ttf') format('truetype');font-weight:normal;font-style:italic;}
@font-face{font-family:'SimpleSansBold';src:url('simplesans-bold-webfont.eot');src:url('simplesans-bold-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-bold-webfont.woff') format('woff'),url('simplesans-bold-webfont.ttf') format('truetype');font-weight:700;font-style:normal;}
@font-face{font-family:'SimpleSansBoldOblique';src:url('simplesans-boldoblique-webfont.eot');src:url('simplesans-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-boldoblique-webfont.woff') format('woff'),url('simplesans-boldoblique-webfont.ttf') format('truetype');font-weight:700;font-style:italic;}
@font-face{font-family:'SimpleSansMedium';src:url('simplesans-medium-webfont.eot');src:url('simplesans-medium-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-medium-webfont.woff') format('woff'),url('simplesans-medium-webfont.ttf') format('truetype');font-weight:500;font-style:normal;}
@font-face{font-family:'SimpleSansMediumOblique';src:url('simplesans-mediumoblique-webfont.eot');src:url('simplesans-mediumoblique-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-mediumoblique-webfont.woff') format('woff'),url('simplesans-mediumoblique-webfont.ttf') format('truetype');font-weight:500;font-style:italic;}
@font-face{font-family:'SimpleSansLight';src:url('simplesans-light-webfont.eot');src:url('simplesans-light-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-light-webfont.woff') format('woff'),url('simplesans-light-webfont.ttf') format('truetype');font-weight:200;font-style:normal;}
@font-face{font-family:'SimpleSansLightOblique';src:url('simplesans-lightoblique-webfont.eot');src:url('simplesans-lightoblique-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-lightoblique-webfont.woff') format('woff'),url('simplesans-lightoblique-webfont.ttf') format('truetype');font-weight:200;font-style:italic;}
@font-face{font-family:'SimpleSansBlack';src:url('simplesans-black-webfont.eot');src:url('simplesans-black-webfont.eot?#iefix') format('embedded-opentype'),url('simplesans-black-webfont.woff') format('woff'),url('simplesans-black-webfont.ttf') format('truetype');font-weight:900;font-style:normal;}


@font-face {
    font-family: 'FD-Icons';
    src: url('../fonts/FD-Icons.eot?yxvxzq');
    src: url('../fonts/FD-Icons.eot?#iefixyxvxzq') format('embedded-opentype'), url('../fonts/FD-Icons.woff?yxvxzq') format('woff'), url('../fonts/FD-Icons.ttf?yxvxzq') format('truetype'), url('../fonts/FD-Icons.svg?yxvxzq#FD-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fd-"],
[class*=" fd-"] {
    font-family: 'FD-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fd-awards-2-icon:before {
    content: "\e600";
}

.fd-careers-icon:before {
    content: "\e601";
}

.fd-chat-icon:before {
    content: "\e602";
}

.fd-announcements-icon:before {
    content: "\e603";
}

.fd-atm-icon:before {
    content: "\e604";
}

.fd-awards-icon:before {
    content: "\e605";
}

.fd-quote-mark-icon:before {
    content: "\e606";
}

.fd-about-icon:before {
    content: "\e607";
}

.fd-currency-icon:before {
    content: "\e608";
}

.fd-stopwatch-icon:before {
    content: "\e609";
}

.fd-arrow-down-icon:before {
    content: "\e60a";
}

.fd-arrow-left-icon:before {
    content: "\e60b";
}

.fd-arrow-up-icon:before {
    content: "\e60c";
}

.fd-arrow-right-icon:before {
    content: "\e60d";
}

.fd-clover-icon:before {
    content: "\e60e";
}

.fd-cart-icon:before {
    content: "\e60f";
}

.fd-terminal-icon:before {
    content: "\e610";
}

.fd-analytics-icon:before {
    content: "\e611";
}

.fd-credit-card-icon:before {
    content: "\e612";
}

.fd-all-icon:before {
    content: "\e613";
}

.fd-all-topics-icon:before {
    content: "\e614";
}

.fd-easy-icon:before {
    content: "\e615";
}

.fd-fast-icon:before {
    content: "\e616";
}

.fd-mobile-icon:before {
    content: "\e617";
}

.fd-secure-icon:before {
    content: "\e618";
}
